.rm_calendar {
    position: relative;
    overflow: hidden;
}
.rm_calendar-header {
    text-align: center;
}
.rm_calendar-body {
    position: relative;
}
.rm_calendar-btn {
    border: none;
    background: none;
    cursor: pointer;
    height: 30px;
}
.rm_calendar-btn:focus {
    outline: none;
}
.rm_calendar-calendarMonth {
    border-collapse: collapse;
    width: 100%;
}
.rm_calendar-monthSwitch--previous, .rm_calendar-monthSwitch--next {
    width: 12.5%;
}
.rm_calendar-currentMonth {
    width: 75%;
    display: inline-block;
}
.rm_calendar-footer {
    text-align: center;
    height: 30px;
    background: none;
    border: none;
    width: 100%;
}
.rm_calendar-footer:focus {
    outline: none;
    cursor: pointer;
}
