.rm_day {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.rm_day-label {
    width: 26px;
    height: 26px;
    text-align: center;
    padding: 0;
    background: none;
    border: none;
    margin: auto;
    color: #34373F;
    font-weight: bold;
}
.rm_day-label:focus {
    outline: none;
}
.rm_day--outside .rm_day-label {
    color: #9F9FAB;
}
.rm_day--past .rm_day-label {
    color: #ccc;
}
.rm_day--default .rm_day-label {
    color: green;
}
.rm_day--selected .rm_day-label {
    color: white;
    background: green;
    border-radius: 50%;
}
