.rm_calendarMonth {
    width: 100%;
}
.rm_calendarMonth-cell {
    text-align: center;
    width: 43px;
    cursor: pointer;
}
.rm_calendarMonth-weekdayHead {
    color: green;
}

.rm_slide-left-enter {
    transform: translate(-100%);
}
.rm_slide-left-enter.rm_slide-left-enter-active {
    transform: translate(0%);
    transition: transform 100ms ease-in-out;
}
.rm_slide-left-leave {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%);
}
.rm_slide-left-leave.rm_slide-left-leave-active {
    transform: translate(100%);
    transition: transform 100ms ease-in-out;
}

.rm_slide-right-enter {
    transform: translate(100%);
}
.rm_slide-right-enter.rm_slide-right-enter-active {
    transform: translate(0%);
    transition: transform 100ms ease-in-out;
}
.rm_slide-right-leave {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%);
}
.rm_slide-right-leave.rm_slide-right-leave-active {
    transform: translate(-100%);
    transition: transform 100ms ease-in-out;
}
